<!--<div fxLayout="column" fxLayoutGap="30px" style="margin: 0px 30px;">-->
  <!--<h2>Transaction history</h2>-->
  <!--<mat-table #table [dataSource]="dataSource" matSort>-->


    <!--<ng-container matColumnDef="tdate">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let transaction"> {{transaction.tdate}} </mat-cell>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="recipient">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Recipient</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let transaction"> {{transaction.recipient}} </mat-cell>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="amount">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let transaction"> {{transaction.amount}} </mat-cell>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="deposit">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Deposit</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let transaction">{{transaction.deposit}}</mat-cell>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="describe">-->
      <!--<mat-header-cell *matHeaderCellDef mat-sort-header>Describe</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let transaction">{{transaction.describe}}</mat-cell>-->
    <!--</ng-container>-->

    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
  <!--</mat-table>-->
<!--</div>-->

<!--<div id="chart">-->

<!--</div>-->
