<div class="sticky-wrapper" style="height: 146px;">
  <header id="header" class="header header-v1 header-v1-only  clearfix stuck">
    <div id="topbar" class="header-v2 clearfix">
      <div class="container">

        <div class="sixteen columns">

          <div class="topbar-col1">
            <div class="products-nav-btn">
              <a href="https://www.1stconstitution.com/#" class="product-btn">
                <i class="fa fa-bars"></i>
                <div
                  style="display: inline-block;font-size: 16px;margin-left:6px;font-family:Nunito, sans-serif;font-weight:bold">
                  Explore Products
                </div>
              </a>
            </div>
          </div>

          <div class="topbar-col2">
            <div class="menu-top-menu-container">
              <ul id="menu-top-menu" class="menu">
                <li id="menu-item-83"
                    class="mobile-hide menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-83">
                  <a href="https://www.1stconstitution.com/#">About Us</a>
                  <ul class="sub-menu">
                    <li id="menu-item-76"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a
                      href="https://www.1stconstitution.com/about-us/">Our Mission</a></li>
                    <li id="menu-item-77"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a
                      href="https://www.1stconstitution.com/locations/">Find Us</a></li>
                    <li id="menu-item-78"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a
                      href="https://www.1stconstitution.com/bank-holiday/">Bank Holidays</a></li>
                    <li id="menu-item-79"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a
                      href="https://www.1stconstitution.com/security-center/">Security Center</a></li>
                    <li id="menu-item-80"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a
                      href="https://www.1stconstitution.com/career-opportunities/">Career Opportunities</a></li>
                  </ul>
                </li>
                <li id="menu-item-82"
                    class="mobile-hide menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a
                  href="https://www.1stconstitution.com/contact-us/">Contact Us</a></li>
                <li id="menu-item-75"
                    class="mobile-hide menu-item menu-item-type-post_type menu-item-object-page menu-item-75"><a
                  href="https://www.1stconstitution.com/news-and-events/">News &amp; Events</a></li>
                <li id="menu-item-649"
                    class="investor-button menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-649">
                  <a href="https://www.1stconstitution.com/#">Investor Relations</a>
                  <ul class="sub-menu">
                    <li id="menu-item-110"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a
                      href="https://www.1stconstitution.com/investor-relations/corporate-profile/">Corporate
                      Profile</a></li>
                    <li id="menu-item-111"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a
                      href="https://www.1stconstitution.com/investor-relations/sec-filings/">SEC Filings</a></li>
                    <li id="menu-item-1096"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096"><a
                      href="https://www.1stconstitution.com/financial-press-releases/">Financial Press Releases</a>
                    </li>
                    <li id="menu-item-1885"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1885"><a
                      href="https://www.1stconstitution.com/investor-relations/governance-documents/">Governance
                      Documents</a></li>
                    <li id="menu-item-114"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a
                      href="https://www.1stconstitution.com/investor-relations/report-of-organizational-actions-affecting-basis-of-securities/">Report
                      of Organizational Actions Affecting Basis of Securities</a></li>
                    <li id="menu-item-115"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a
                      href="https://www.1stconstitution.com/investor-relations/shareholder-communication-process/">Shareholder
                      Communication Process</a></li>
                  </ul>
                </li>
                <li id="menu-item-209"
                    class="locate-button menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a
                  href="https://www.1stconstitution.com/locations/">Find a Branch</a></li>
                <li id="menu-item-505"
                    class="uchoose-pop menu-item menu-item-type-custom menu-item-object-custom menu-item-505"><a
                  href="https://www.uchooserewards.com/">UChoose Rewards</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="container">

      <div id="logo-navigation" class="sixteen columns">
        <div id="logo" class="logo">
          <a href="https://www.1stconstitution.com/" title="1st Constitution Bank"><img
            src="./raw_files/1st-con-logo-web.png" alt="1st Constitution Bank" class="logo_standard"></a>
          <a href="https://www.1stconstitution.com/" title="1st Constitution Bank">
            <img src="./raw_files/1st-con-bank-logo-reverse.png" alt="1st Constitution Bank" class="logo_transparent">
          </a>
          <a href="https://www.1stconstitution.com/" title="1st Constitution Bank">
            <img src="./raw_files/1st-con-logo-web-retina.png" width="195" height="88" alt="1st Constitution Bank"
                 class="logo_retina">
          </a>
        </div>

        <div id="navigation" class="clearfix">
          <div class="header-icons">

          </div>


          <!-- UberMenu [Configuration:main] [Theme Loc:main_navigation] [Integration:auto] -->
          <nav id="ubermenu-main-2-main_navigation"
               class="ubermenu ubermenu-main ubermenu-menu-2 ubermenu-loc-main_navigation ubermenu-responsive ubermenu-responsive-single-column ubermenu-responsive-default ubermenu-responsive-nocollapse ubermenu-horizontal ubermenu-transition-shift ubermenu-trigger-hover_intent ubermenu-skin-none  ubermenu-bar-align-full ubermenu-items-align-left ubermenu-bound ubermenu-disable-submenu-scroll ubermenu-sub-indicators ubermenu-retractors-responsive ubermenu-notouch">
            <ul id="ubermenu-nav-main-2-main_navigation" class="ubermenu-nav">
              <li id="menu-item-651"
                  class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-651 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/#" tabindex="0"><span
                  class="ubermenu-target-title ubermenu-target-text">Personal Banking</span></a>
                <ul
                  class="ubermenu-submenu ubermenu-submenu-id-651 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                  <li id="menu-item-45"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-45 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/personal-banking/checking/"><span
                      class="ubermenu-target-title ubermenu-target-text">Checking</span></a></li>
                  <li id="menu-item-46"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-46 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/personal-banking/savings/"><span
                      class="ubermenu-target-title ubermenu-target-text">Savings</span></a></li>
                  <li id="menu-item-47"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-47 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/personal-banking/cds/"><span
                      class="ubermenu-target-title ubermenu-target-text">CDs</span></a></li>
                  <li id="menu-item-48"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-48 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/personal-banking/ira-accounts/"><span
                      class="ubermenu-target-title ubermenu-target-text">IRAs</span></a></li>
                  <li id="menu-item-911"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-911 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/personal-banking/mobile-applications/"><span
                      class="ubermenu-target-title ubermenu-target-text">Mobile Banking</span></a></li>
                  <li id="menu-item-910"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-910 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/personal-banking/online-banking/"><span
                      class="ubermenu-target-title ubermenu-target-text">Online Banking</span></a></li>
                </ul>
              </li>
              <li id="menu-item-652"
                  class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-652 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/#" tabindex="0"><span
                  class="ubermenu-target-title ubermenu-target-text">Business Banking</span></a>
                <ul
                  class="ubermenu-submenu ubermenu-submenu-id-652 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                  <li id="menu-item-54"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-54 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/business-banking/checking/"><span
                      class="ubermenu-target-title ubermenu-target-text">Business Checking</span></a></li>
                  <li id="menu-item-55"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-55 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/business-banking/savings/"><span
                      class="ubermenu-target-title ubermenu-target-text">Business Savings</span></a></li>
                  <li id="menu-item-60"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-60 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/business-banking/other-products-services/"><span
                      class="ubermenu-target-title ubermenu-target-text">Business Services</span></a></li>
                  <li id="menu-item-1192"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-1192 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/business-banking/business-mobile-banking/"><span
                      class="ubermenu-target-title ubermenu-target-text">Business Mobile Banking</span></a></li>
                  <li id="menu-item-909"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-909 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/business-banking/business-online-banking/"><span
                      class="ubermenu-target-title ubermenu-target-text">Business Online Banking</span></a></li>
                </ul>
              </li>
              <li id="menu-item-653"
                  class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-653 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/#" tabindex="0"><span
                  class="ubermenu-target-title ubermenu-target-text">Loan Center</span></a>
                <ul
                  class="ubermenu-submenu ubermenu-submenu-id-653 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                  <li id="menu-item-1822"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-1822 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/loan-center/loans/"><span
                      class="ubermenu-target-title ubermenu-target-text">Personal Loans</span></a></li>
                  <li id="menu-item-62"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-62 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/loan-center/mortgages/"><span
                      class="ubermenu-target-title ubermenu-target-text">Mortgages</span></a></li>
                  <li id="menu-item-63"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-63 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/loan-center/reverse-mortgages/"><span
                      class="ubermenu-target-title ubermenu-target-text">Reverse Mortgages</span></a></li>
                  <li id="menu-item-64"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-64 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/loan-center/home-equity-loans/"><span
                      class="ubermenu-target-title ubermenu-target-text">Home Equity Loans</span></a></li>
                  <li id="menu-item-59"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-has-children ubermenu-item-59 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-natural ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/business-banking/loans/"><span
                      class="ubermenu-target-title ubermenu-target-text">Business Loans</span></a>
                    <ul
                      class="ubermenu-submenu ubermenu-submenu-id-59 ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                      <li id="menu-item-1021"
                          class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-ubermenu-custom ubermenu-item-1021 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                        <div class="ubermenu-content-block ubermenu-custom-content ubermenu-custom-content-padded"><a
                          href="https://www.1stconstitution.com/business-banking/loans/business-line-of-credit/"
                          title="Business Line of Credit"><img src="./raw_files/business-line-of-credit.png"
                                                               style="max-width:100%;">
                          <h4 class="mega-sub-title">Business Line of Credit</h4>
                        </a></div>
                      </li>
                      <li id="menu-item-1008"
                          class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-ubermenu-custom ubermenu-item-1008 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                        <div class="ubermenu-content-block ubermenu-custom-content ubermenu-custom-content-padded"><a
                          href="https://www.1stconstitution.com/business-banking/loans/commercial-mortgages/"
                          title="Commercial Mortgages"><img src="./raw_files/construciton.png"
                                                            style="max-width:100%;">
                          <h4 class="mega-sub-title">Commercial Mortgages</h4>
                        </a></div>
                      </li>
                      <li id="menu-item-1022"
                          class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-ubermenu-custom ubermenu-item-1022 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                        <div class="ubermenu-content-block ubermenu-custom-content ubermenu-custom-content-padded"><a
                          href="https://www.1stconstitution.com/business-banking/loans/sba-loans/"
                          title="SBA Loans"><img src="./raw_files/sba-2.png" style="max-width:100%;">
                          <h4 class="mega-sub-title">SBA Loans</h4>
                        </a></div>
                      </li>
                    </ul>
                  </li>
                  <li id="menu-item-1823"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-1823 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/loan-center/construction-loans/"><span
                      class="ubermenu-target-title ubermenu-target-text">Construction Loans</span></a></li>
                </ul>
              </li>
              <li id="menu-item-648"
                  class="desktop-hide ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-648 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/#" tabindex="0"><span
                  class="ubermenu-target-title ubermenu-target-text">Investor Relations</span></a>
                <ul
                  class="ubermenu-submenu ubermenu-submenu-id-648 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                  <li id="menu-item-272"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-272 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/investor-relations/corporate-profile/"><span
                      class="ubermenu-target-title ubermenu-target-text">Corporate Profile</span></a></li>
                  <li id="menu-item-273"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-273 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/investor-relations/sec-filings/"><span
                      class="ubermenu-target-title ubermenu-target-text">SEC Filings</span></a></li>
                  <li id="menu-item-274"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-274 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/investor-relations/financial-reports/"><span
                      class="ubermenu-target-title ubermenu-target-text">Financial Reports</span></a></li>
                  <li id="menu-item-276"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-276 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/investor-relations/report-of-organizational-actions-affecting-basis-of-securities/"><span
                      class="ubermenu-target-title ubermenu-target-text">Report of Organizational Actions Affecting Basis of Securities</span></a>
                  </li>
                  <li id="menu-item-277"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-277 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/investor-relations/shareholder-communication-process/"><span
                      class="ubermenu-target-title ubermenu-target-text">Shareholder Communication Process</span></a>
                  </li>
                </ul>
              </li>
              <li id="menu-item-279"
                  class="desktop-hide ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-has-children ubermenu-item-279 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/about-us/" tabindex="0"><span
                  class="ubermenu-target-title ubermenu-target-text">Our Mission</span></a>
                <ul
                  class="ubermenu-submenu ubermenu-submenu-id-279 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                  <li id="menu-item-281"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-281 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/about-us/"><span
                      class="ubermenu-target-title ubermenu-target-text">Our Mission</span></a></li>
                  <li id="menu-item-282"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-282 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/bank-holiday/"><span
                      class="ubermenu-target-title ubermenu-target-text">Bank Holidays</span></a></li>
                  <li id="menu-item-283"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-283 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/security-center/"><span
                      class="ubermenu-target-title ubermenu-target-text">Security Center</span></a></li>
                  <li id="menu-item-284"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-284 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/career-opportunities/"><span
                      class="ubermenu-target-title ubermenu-target-text">Career Opportunities</span></a></li>
                  <li id="menu-item-285"
                      class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-285 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                       href="https://www.1stconstitution.com/faqs/"><span
                      class="ubermenu-target-title ubermenu-target-text">FAQs</span></a></li>
                </ul>
              </li>
              <li id="menu-item-278"
                  class="desktop-hide ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-278 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/news-and-events/" tabindex="0"><span
                  class="ubermenu-target-title ubermenu-target-text">News and Events</span></a></li>
            </ul>
          </nav>
          <!-- End UberMenu -->
        </div>

      </div>


    </div>

  </header>
</div>

<div id="mobile-header" class="mobile-header-v1">
  <div id="topbar" class="header-v2 clearfix">
    <div class="container">

      <div class="sixteen columns">

        <div class="topbar-col1">
          <div class="products-nav-btn">
            <a href="https://www.1stconstitution.com/#" class="product-btn">
              <i class="fa fa-bars"></i>
              <div
                style="display: inline-block;font-size: 16px;margin-left:6px;font-family:Nunito, sans-serif;font-weight:bold">
                Explore Products
              </div>
            </a>
          </div>
        </div>

        <div class="topbar-col2">
          <div class="menu-top-menu-container">
            <ul id="menu-top-menu-1" class="menu">
              <li
                class="mobile-hide menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-83">
                <a href="https://www.1stconstitution.com/#">About Us</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a
                    href="https://www.1stconstitution.com/about-us/">Our Mission</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a
                    href="https://www.1stconstitution.com/locations/">Find Us</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a
                    href="https://www.1stconstitution.com/bank-holiday/">Bank Holidays</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a
                    href="https://www.1stconstitution.com/security-center/">Security Center</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a
                    href="https://www.1stconstitution.com/career-opportunities/">Career Opportunities</a></li>
                </ul>
              </li>
              <li class="mobile-hide menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a
                href="https://www.1stconstitution.com/contact-us/">Contact Us</a></li>
              <li class="mobile-hide menu-item menu-item-type-post_type menu-item-object-page menu-item-75"><a
                href="https://www.1stconstitution.com/news-and-events/">News &amp; Events</a></li>
              <li
                class="investor-button menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-649">
                <a href="https://www.1stconstitution.com/#">Investor Relations</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a
                    href="https://www.1stconstitution.com/investor-relations/corporate-profile/">Corporate Profile</a>
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a
                    href="https://www.1stconstitution.com/investor-relations/sec-filings/">SEC Filings</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096"><a
                    href="https://www.1stconstitution.com/financial-press-releases/">Financial Press Releases</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1885"><a
                    href="https://www.1stconstitution.com/investor-relations/governance-documents/">Governance
                    Documents</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a
                    href="https://www.1stconstitution.com/investor-relations/report-of-organizational-actions-affecting-basis-of-securities/">Report
                    of Organizational Actions Affecting Basis of Securities</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a
                    href="https://www.1stconstitution.com/investor-relations/shareholder-communication-process/">Shareholder
                    Communication Process</a></li>
                </ul>
              </li>
              <li class="locate-button menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a
                href="https://www.1stconstitution.com/locations/">Find a Branch</a></li>
              <li class="uchoose-pop menu-item menu-item-type-custom menu-item-object-custom menu-item-505"><a
                href="https://www.uchooserewards.com/">UChoose Rewards</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="sixteen columns">
      <div id="mobile-logo" class="logo">
        <a href="https://www.1stconstitution.com/" title="1st Constitution Bank"><img
          src="./raw_files/1st-con-logo-web.png" alt="1st Constitution Bank" class="logo_standard"></a>
        <a href="https://www.1stconstitution.com/" title="1st Constitution Bank"><img
          src="./raw_files/1st-con-logo-web-retina.png" width="195" height="88" alt="1st Constitution Bank"
          class="logo_retina"></a></div>
      <a href="https://www.1stconstitution.com/#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
    </div>
  </div>
</div>

<div id="product-navigation">
  <div class="container" style="width:100%">
    <div class="sixteen columns" style="width:100%;margin:0;">
      <div class="menu-product-menu-container">
        <ul id="menu-product-menu" class="menu">
          <li id="menu-item-280"
              class="product-close menu-item menu-item-type-custom menu-item-object-custom menu-item-280"><a
            href="https://www.1stconstitution.com/#">Close <i class="fa fa-close"></i></a></li>
          <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a
            href="https://www.1stconstitution.com/personal-banking/checking/"><i class="fa fa-credit-card"></i>
            Checking</a></li>
          <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a
            href="https://www.1stconstitution.com/personal-banking/savings/"><i class="fa fa-university"></i> Savings</a>
          </li>
          <li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a
            href="https://www.1stconstitution.com/loan-center/mortgages/"><i class="fa fa-home"></i> Mortgages</a>
          </li>
          <li id="menu-item-546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546"><a
            href="https://www.1stconstitution.com/1st-direct/"><i class="direct-icon"></i> 1st Constitution Direct</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="mobile-navigation" style="display: none;">
  <div class="container">
    <div class="sixteen columns">

      <!-- UberMenu [Configuration:main] [Theme Loc:main_navigation] [Integration:auto] -->
      <nav id="ubermenu-main-2-main_navigation-2"
           class="ubermenu ubermenu-main ubermenu-menu-2 ubermenu-loc-main_navigation ubermenu-responsive ubermenu-responsive-single-column ubermenu-responsive-default ubermenu-responsive-nocollapse ubermenu-horizontal ubermenu-transition-shift ubermenu-trigger-hover_intent ubermenu-skin-none  ubermenu-bar-align-full ubermenu-items-align-left ubermenu-bound ubermenu-disable-submenu-scroll ubermenu-sub-indicators ubermenu-retractors-responsive ubermenu-notouch">
        <ul id="ubermenu-nav-main-2-main_navigation" class="ubermenu-nav">
          <li
            class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-651 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega has-ul">
            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
               href="https://www.1stconstitution.com/#" tabindex="0"><span
              class="ubermenu-target-title ubermenu-target-text">Personal Banking</span><i
              class="fa fa-chevron-down"></i></a>
            <ul
              class="ubermenu-submenu ubermenu-submenu-id-651 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-45 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/personal-banking/checking/"><span
                  class="ubermenu-target-title ubermenu-target-text">Checking</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-46 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/personal-banking/savings/"><span
                  class="ubermenu-target-title ubermenu-target-text">Savings</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-47 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/personal-banking/cds/"><span
                  class="ubermenu-target-title ubermenu-target-text">CDs</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-48 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/personal-banking/ira-accounts/"><span
                  class="ubermenu-target-title ubermenu-target-text">IRAs</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-911 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/personal-banking/mobile-applications/"><span
                  class="ubermenu-target-title ubermenu-target-text">Mobile Banking</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-910 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/personal-banking/online-banking/"><span
                  class="ubermenu-target-title ubermenu-target-text">Online Banking</span></a></li>
            </ul>
          </li>
          <li
            class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-652 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega has-ul">
            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
               href="https://www.1stconstitution.com/#" tabindex="0"><span
              class="ubermenu-target-title ubermenu-target-text">Business Banking</span><i
              class="fa fa-chevron-down"></i></a>
            <ul
              class="ubermenu-submenu ubermenu-submenu-id-652 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-54 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/business-banking/checking/"><span
                  class="ubermenu-target-title ubermenu-target-text">Business Checking</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-55 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/business-banking/savings/"><span
                  class="ubermenu-target-title ubermenu-target-text">Business Savings</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-60 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/business-banking/other-products-services/"><span
                  class="ubermenu-target-title ubermenu-target-text">Business Services</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-1192 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/business-banking/business-mobile-banking/"><span
                  class="ubermenu-target-title ubermenu-target-text">Business Mobile Banking</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-909 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/business-banking/business-online-banking/"><span
                  class="ubermenu-target-title ubermenu-target-text">Business Online Banking</span></a></li>
            </ul>
          </li>
          <li
            class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-653 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega has-ul">
            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
               href="https://www.1stconstitution.com/#" tabindex="0"><span
              class="ubermenu-target-title ubermenu-target-text">Loan Center</span><i class="fa fa-chevron-down"></i></a>
            <ul
              class="ubermenu-submenu ubermenu-submenu-id-653 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-1822 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/loan-center/loans/"><span
                  class="ubermenu-target-title ubermenu-target-text">Personal Loans</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-62 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/loan-center/mortgages/"><span
                  class="ubermenu-target-title ubermenu-target-text">Mortgages</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-63 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/loan-center/reverse-mortgages/"><span
                  class="ubermenu-target-title ubermenu-target-text">Reverse Mortgages</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-64 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/loan-center/home-equity-loans/"><span
                  class="ubermenu-target-title ubermenu-target-text">Home Equity Loans</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-has-children ubermenu-item-59 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-natural ubermenu-has-submenu-drop ubermenu-has-submenu-mega has-ul">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/business-banking/loans/"><span
                  class="ubermenu-target-title ubermenu-target-text">Business Loans</span><i
                  class="fa fa-chevron-down"></i></a>
                <ul
                  class="ubermenu-submenu ubermenu-submenu-id-59 ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                  <li
                    class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-ubermenu-custom ubermenu-item-1021 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                    <div class="ubermenu-content-block ubermenu-custom-content ubermenu-custom-content-padded"><a
                      href="https://www.1stconstitution.com/business-banking/loans/business-line-of-credit/"
                      title="Business Line of Credit"><img src="./raw_files/business-line-of-credit.png"
                                                           style="max-width:100%;">
                      <h4 class="mega-sub-title">Business Line of Credit</h4>
                    </a></div>
                  </li>
                  <li
                    class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-ubermenu-custom ubermenu-item-1008 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                    <div class="ubermenu-content-block ubermenu-custom-content ubermenu-custom-content-padded"><a
                      href="https://www.1stconstitution.com/business-banking/loans/commercial-mortgages/"
                      title="Commercial Mortgages"><img src="./raw_files/construciton.png" style="max-width:100%;">
                      <h4 class="mega-sub-title">Commercial Mortgages</h4>
                    </a></div>
                  </li>
                  <li
                    class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-ubermenu-custom ubermenu-item-1022 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                    <div class="ubermenu-content-block ubermenu-custom-content ubermenu-custom-content-padded"><a
                      href="https://www.1stconstitution.com/business-banking/loans/sba-loans/" title="SBA Loans"><img
                      src="./raw_files/sba-2.png" style="max-width:100%;">
                      <h4 class="mega-sub-title">SBA Loans</h4>
                    </a></div>
                  </li>
                </ul>
              </li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-1823 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/loan-center/construction-loans/"><span
                  class="ubermenu-target-title ubermenu-target-text">Construction Loans</span></a></li>
            </ul>
          </li>
          <li
            class="desktop-hide ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-648 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega has-ul">
            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
               href="https://www.1stconstitution.com/#" tabindex="0"><span
              class="ubermenu-target-title ubermenu-target-text">Investor Relations</span><i
              class="fa fa-chevron-down"></i></a>
            <ul
              class="ubermenu-submenu ubermenu-submenu-id-648 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-272 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/investor-relations/corporate-profile/"><span
                  class="ubermenu-target-title ubermenu-target-text">Corporate Profile</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-273 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/investor-relations/sec-filings/"><span
                  class="ubermenu-target-title ubermenu-target-text">SEC Filings</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-274 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/investor-relations/financial-reports/"><span
                  class="ubermenu-target-title ubermenu-target-text">Financial Reports</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-276 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/investor-relations/report-of-organizational-actions-affecting-basis-of-securities/"><span
                  class="ubermenu-target-title ubermenu-target-text">Report of Organizational Actions Affecting Basis of Securities</span></a>
              </li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-277 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/investor-relations/shareholder-communication-process/"><span
                  class="ubermenu-target-title ubermenu-target-text">Shareholder Communication Process</span></a></li>
            </ul>
          </li>
          <li
            class="desktop-hide ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-has-children ubermenu-item-279 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega has-ul">
            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
               href="https://www.1stconstitution.com/about-us/" tabindex="0"><span
              class="ubermenu-target-title ubermenu-target-text">Our Mission</span><i class="fa fa-chevron-down"></i></a>
            <ul
              class="ubermenu-submenu ubermenu-submenu-id-279 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-281 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/about-us/"><span
                  class="ubermenu-target-title ubermenu-target-text">Our Mission</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-282 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/bank-holiday/"><span
                  class="ubermenu-target-title ubermenu-target-text">Bank Holidays</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-283 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/security-center/"><span
                  class="ubermenu-target-title ubermenu-target-text">Security Center</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-284 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/career-opportunities/"><span
                  class="ubermenu-target-title ubermenu-target-text">Career Opportunities</span></a></li>
              <li
                class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-285 ubermenu-item-auto ubermenu-item-unknown-[unk] ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
                   href="https://www.1stconstitution.com/faqs/"><span
                  class="ubermenu-target-title ubermenu-target-text">FAQs</span></a></li>
            </ul>
          </li>
          <li
            class="desktop-hide ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-278 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only"
               href="https://www.1stconstitution.com/news-and-events/" tabindex="0"><span
              class="ubermenu-target-title ubermenu-target-text">News and Events</span></a></li>
        </ul>
      </nav>
      <!-- End UberMenu -->


    </div>
  </div>
</div>


<script>
  jQuery(document).ready(function ($) {
    $("img:not([title])").each(function () {
      if ($(this).attr("alt") != '') $(this).parent().attr("title", $(this).attr("alt"))
      else $(this).parent().attr("title", $(this).attr("src"));
    });
  });
</script>
